.projectsWrapper h4 {
    padding-top: 5rem;
    font-size: 4rem;
    font-style: italic;
    font-weight: normal;
}

.projectCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.project {
      background: url("/Images/orox.png") no-repeat;
    width: 650px;
    height: 500px;
    
}

.projectCards > .project:nth-child(2) { 
    background: url("/Images/amnesix.png") no-repeat; 
    
}