@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/OTF/Satoshi-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/OTF/Satoshi-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  
font-family: "Satoshi Light";
  margin: 0;
  padding: 0;
  color: #dac5a7;
  background: black;
}

section {
  scroll-margin-top: 80px; 
}